* {
  font-family: 'Roboto', sans-serif; /* Changed font to Roboto */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

nav {
  display: flex;
  height: 80px;
  background: linear-gradient(to right, #4CAF50, #64B5F6);
  justify-content: space-between;
  position: sticky;
  top: 0;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

nav .header {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  transition: color 0.3s ease;
}

nav .header:hover {
  cursor: pointer;
  color: #F9A825;
}

nav .navbar-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

nav .navbar-links a {
  font-size: 17px;
  font-weight: normal;
  text-transform: capitalize;
  color: white;
  transition: color 0.3s ease;
}

nav .navbar-links a:hover {
  color: #F9A825; /* Change link color on hover */
}